/* Style for "(required)" text */
.required-text {
    color: gray;
}
.required-text::before {
    content: '*';
    color: red;
    margin-right: 2px;
}

/* Define styles for legend circles */
.legend-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.legend-red {
    background-color: red; 
}

.legend-yellow {
    background-color: yellow; 
}

.legend-green {
    background-color: green; 
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-right: 1px solid #ccc;
}
